@import url('https://fonts.googleapis.com/css?family=Varela Round');
@import url('https://fonts.googleapis.com/css?family=Arvo');

:root {
    --harder-blue: #94BDD6;
    --baby-white: #EBEBFF;
    --baby-blue:#EBF7FF;

}

html {
    background-color: var(--baby-white);
    font-family: "Arvo", Helvetica, sans-serif;
}

header {
    background-image: url("../images/cabecera.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: "Varela Round", sans-serif;
    padding: 50px 0;
    text-shadow: 1px 1px 2px black;
    text-align: center;

}

nav {
    float: left;
    font-style: italic;
    padding: 5px;
    width: 25%;
}

nav ul {
    list-style: none;
}

nav ul li {
    
    padding: 10px 0;
}

nav ul li.active-link {
    transition-timing-function: ease-in-out;
    transition: padding-left 1s, width 1s, background-color 1s;
}

nav ul li a {
    text-decoration: none;
}

nav ul li.active-link:hover {
    background-color: var(--harder-blue);
    padding-left: 20px;
    width: calc(100% - 20px);

}

main {
    border-left: 2px solid var(--baby-blue);
    display: inline-block;
    padding: 10px;
    padding-left: 50px;
    margin: 0 auto 0 auto;
    align-items: center;
    width: 55%;
}

h1 {
    margin: 0;
    padding: 0 20px;
}

.container {
    background-color: white;
    box-shadow: 2px 2px 10px grey;
    margin: 0 auto  10px;
    width: 1200px;
}

body {
    margin: 0;
    padding: 0;
}


footer {
    display: block;
    background-color: var(--harder-blue);
    color: var(--baby-white);
    height: 20%;
}

footer a, footer a:hover, footer a:focus {
    color: var(--baby-white);
    font-style: italic;
    text-decoration: none;

}




footer div {
    display: inline-block;
    margin: 5px 0;
    padding: 10px;
}

.footer-group-left {
    text-align: right;
    border-right: 1px white solid;
    width: calc(50% - 23px);
}

.footer-group-right {
    width: calc(50% - 22px);
}