@import "common.css";
@import url('https://fonts.googleapis.com/css?family=Varela Round');
@import url('https://fonts.googleapis.com/css?family=Arvo');



.h2-container {
    background-image: linear-gradient(rgba(148,189,214,1)  10%, 50%, rgba(255,255,255,1) 120%);
    text-align: center;
    padding: 10px;
    width:calc(100% - 30px)
}

h3 {
    border-bottom: 3px solid var(--baby-blue);
}

h3+ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 5%;
    list-style-type: none;
}


h3+ul li{
    padding-top: 7px;
    padding-left: 44px;
}

.list-display {
    font-size: 16px;
    line-height: 25px;
    display: table-cell;
    vertical-align: middle;
}

.list-display img {
    position: relative;
    bottom: -7px;
}

.press-releases div {
    box-shadow: 1px 1px 3px black;
    margin-bottom: 15px;
    padding: 10px;
    width: calc(100% - 22px);
}

.press-releases-title {
    background-color: var(--harder-blue);
    display: inherit;
    padding: 10px 16px;
    width: calc(100% - 32px);
}
blockquote{
    background-color: var(--baby-blue);
    color:  black;
    border-left: 5px solid var(--harder-blue);
    margin: 0;
    padding: 5px 20px 0;
}

blockquote p {
    display: inline-block;
    margin: 16px 0 0 30px;
}

 cite {
    background-color: var(--baby-blue);
    display: block;
    text-align: right;
}

.press-releases div span {
    background-color: var(--baby-blue);
    display: inline-block;
}

 .press-releases div .quotes { /*blockquote span*/
    position: relative;
    top: 50px;
    line-height: 0;
    font-family: "Varela Round", sans-serif;
    font-size: 7rem;
 }

.schools-images {
    width: 80%;
    font-style: italic;
    color: var(--baby-white);
    font-size: x-small;
}

.schools-images .single-school-image {
    display: inline-block;
    border: 1px solid grey;
    max-width: 24%;
    min-width: 24%;
}


.schools-images  .single-school-image a img {
    max-width: 100%;
    min-height: 90px;
    object-fit: contain;
}

.school-images-foot {
    display: block;
    background-color: blue;
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
    width: 100%;
}